@import "tailwindcss";

/* ---------- THEME VARIABLES ---------- */
:root {
  --bg: #f8fafc;          /* slate-50 */
  --card: #ffffff;
  --text: #020617;        /* slate-950 */
  --muted: #64748b;       /* slate-500 */
  --border: #e2e8f0;      /* slate-200 */
  --primary: #4f46e5;     /* indigo-600 */
}

.theme-dark {
  --bg: #020617;          /* slate-950 */
  --card: #0f172a;        /* slate-900 */
  --text: #f8fafc;        /* slate-50 */
  --muted: #94a3b8;       /* slate-400 */
  --border: #1e293b;      /* slate-800 */
  --primary: #6366f1;     /* indigo-500 */
}
